* {
    box-sizing: border-box;
    border: 1px dotted blue;
    gap: 10px;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    min-height: 100vh;
    margin: 0;
  
    font-family: sans-serif;
  }

  img {
      width: 40px;
  }
  /* Remove defaults from navigation */
  
  /* nav ul { */
    ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 40px;
}

h2 {
  
  margin-top: 0px;
  margin-bottom: 0px;
  height: 40px;
}

h6 {
  margin: 3px;
}


  /* Navigation styles */
  
  
  
  /* Layout Styles */
  
  .center {
    max-width: 1110px;
  
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  /* Grid Styles */
  
  .three-column-grid__expand-two {
    display: grid;
    grid-template-columns: 250px 500px 300px;
   height: 40px;
  }

  .second__three-column-grid {
      display: grid;
      grid-template-columns: 100px 1fr 100px;
      /* max-width: 600px; */
      /* min-width: 600px; */
      height: 40px;
  }
  
  .header__two-column-grid {
    display: grid;
    grid-template-columns: 40px auto;
  }

  .navbar__two-column-grid {
    display: grid;
    grid-template-columns: 40px 150px;
    gap: 1rem;
  }

  .three-column-grid {
    display: grid;
    grid-template-columns: 40px 100px 40px;
  }
  /* Header Styles */
  
  
  
  
  /* Utility Styles */
  
  
  
  
 /* Navbar Styles */

.navbar-height {
  height: 40px;

}

.navbar {
  margin-block-start: 0px;
  padding-inline-start: 0px;
  margin-block-end: 0px;
}

 .space {
   height: 100px;
 }

  /* Mains Styles */
  